@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  background-color: rgb(126, 200, 237);
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.form-box{
  /* position: relative;/ */
  width: 400px;
  height: 450px;
  border: 2px solid black;
  border-radius: 20px;
  display: grid;
  place-items: center;
  grid-template-rows: 150px 200px;
  
  box-shadow: -5px -4px 19px 2px rgba(255,255,255,0.78);
  -webkit-box-shadow: -5px -4px 19px 2px rgba(255,255,255,0.78);
  -moz-box-shadow: -5px -4px 19px 2px rgba(255,255,255,0.78);
}

h1{
  font-size: 32px;
  color: white;
  text-align: center;
}

#registerForm{
  margin:  30px;
  /* background: red; */

}

#registerForm .input{
  width: 95%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  border-bottom: solid 2px white;
  outline: none;
  color: white;
  font-size: 15px;
  height: 20px;
}

::placeholder{
  color: white;
  opacity: .8;
}

#registerForm label{  
  font-size: 15px;
  margin-bottom: 5px;
}


#register-button{
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin: 15px 0 10px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

p{
  text-align: center;
}

p a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  position: relative;
  opacity: .8;
}

p a::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  transition: 0.5s;
}

p a:hover{
  opacity: 1;
}

p a:hover::after{
  width: 100%;
}




